* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/**
 * Canvas
 */

.whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.colors {
  position: fixed;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black {
  background-color: black;
}
.color.red {
  background-color: red;
}
.color.green {
  background-color: green;
}
.color.blue {
  background-color: blue;
}
.color.yellow {
  background-color: yellow;
}

ul {
  list-style-type: none;
}
.chat {
  margin-top: 50px;
}
.chatMessage {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px auto;
  width: 700px;
  display: table;
}
.box {
  background-color: #ffffff;
  padding: 20px;
  border-bottom: 1px solid #cccccc;
}
.imageHolder {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 50px;
}
